body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

#filters {
    margin: 20px 0;
    font-size: 16px;
}

#filters a {
    text-decoration: none;
    color: #ff4081;
    margin: 0 8px;
    font-weight: bold;
}

#filters a:hover {
    text-decoration: underline;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-image {
    width: 180px; /* Pevná šířka */
    height: 270px; /* Poměr 2:3 (200 * 1.5) */
    object-fit: cover; /* Oříznutí obrázku, aby vyplnil daný rozměr */
    object-position: center; /* Zajištění, že střed obrázku zůstane viditelný */
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.05);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e03570;
}

/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/* Modal content */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 35px;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}


.photo-navigation a:hover {
    text-decoration: underline;
}

